@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=JetBrains+Mono:wght@400;500;600&display=swap");

* {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, sans-serif;
}

code,
pre,
.tsd-signature {
  font-family: "JetBrains Mono", "SF Mono", Monaco, Inconsolata, "Roboto Mono",
    Consolas, "Courier New", monospace !important;
  font-size: 0.9em;
  font-weight: 500;
}

.page-menu .tsd-navigation a,
.page-menu .tsd-navigation summary > span,
.page-menu .tsd-page-navigation a {
  padding: 0.22rem;
  border-radius: 6px;
}

.page-menu .tsd-page-navigation ul {
  padding-left: 0.88rem;
}

.site-menu .tsd-small-nested-navigation > li > details {
  margin-left: 0;
}
