# .github/workflows/ci.yml

name: CI

permissions:
  contents: read
  pages: write
  id-token: write
# Controls when the workflow will run
on:
  # all branches
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  build-and-test:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout repository
        uses: actions/checkout@v3

      # Sets up Node.js environment
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20" # Specify the Node.js version you want to use
          cache: "npm" # Caches npm dependencies

      # Install dependencies
      - name: Install dependencies
        run: npm install

      # Run tests with enforced 100% coverage
      - name: Run tests with coverage enforcement
        run: npm run test:ci

      # Generate documentation (only on main branch)
      - name: Generate documentation
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: npm run typedoc

      - name: Delete existing GitHub Pages artifacts
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          # Get the list of artifacts for this repository
          artifacts=$(curl -s -H "Authorization: Bearer $GITHUB_TOKEN" \
            https://api.github.com/repos/${{ github.repository }}/actions/artifacts)

          # Filter for "github-pages" artifacts and delete them
          echo "$artifacts" | jq -r '.artifacts[] | select(.name == "github-pages") | .id' | while read id; do
            curl -X DELETE -H "Authorization: Bearer $GITHUB_TOKEN" \
              https://api.github.com/repos/${{ github.repository }}/actions/artifacts/$id
          done

      - name: Setup Pages
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: actions/configure-pages@v4

      - name: Upload artifact
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        uses: actions/upload-pages-artifact@v3
        with:
          path: "./docs"

      # Deploy to GitHub Pages
      - name: Deploy to GitHub Pages
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        id: deployment
        uses: actions/deploy-pages@v4
